@charset "utf-8";

*{	margin:0; 
	padding:0; 
	border:0; 

}
#dht header{
	position:relative;
	width: 100%;;
	background-color: #000000;
}
#dht nav{
	background: #000000;
	width: 100%;
	height: 60px;
	position: relative;
}
	
#dht ul{
	padding:0px;
	list-style-type:none;  /*没有点*/
	font-family: "宋体";
	font-size:18px;
}
#logo{
	margin:-15px 0px 0px -10px;
	padding:-10px;
	width:60px;
	}
#dht li{
	text-align: center;
	width: 130px;
	height:60px;
	margin-left:10px;
	float: left;
}
#yhdl{
	margin:-12px 20px 0px 0px; 
	padding:-10px;
	height:60px;
	font-size:16px;
	line-height:30px;
}

#gwc{
	margin:-15px 10px 0px 0px; 
	padding:-10px;
	height:60px;
}
#ss{
	margin:-12px 20px 0px 10px;
	padding:-10px;
	width:60px;
	}

	
#dht a{
	padding:20px 10px 10px 10px;
	text-decoration:none;
	display:block;   /*此元素将显示为块级元素，此元素前后会带有换行符*/

}
#dht:hover {
	text-decoration:underline;
}
	
#dht:link,#dht:visited{
	color: #fff;
}
