@charset "utf-8";
/* CSS Document */

.h2{
	font-family: "新宋体";
	font-size:36px;
	}
.h4{
	font-family:"新宋体";
	font-size:24px;
	}
.h5{
	font-family:"新宋体";
	font-size:18px;
	}
.h6{
	font-family:"新宋体";
	font-size:12px;
	}
.p{
	font-family:"方正兰亭超细黑简体";
	font-size:12px;}
#dkj{
	margin: 0 auto;
	width:1000px;
}
#tjkjd{
	margin:0 auto;
	width:900px;
	height:400px;
	}
#tjkjx{
	width:200px;
	height:300px;
	float:left;
	margin-left:20px;
	}
.jixu{
	float:left;
	padding-left:25px;
	padding-top:15px;
	font-family:"新宋体";
	font-size:12px;}

.jixu:link,.sc:link,.yc:link,.jixu:visited,.sc:visited,.yc:visited{
	color:#666;
	text-decoration:none;
	}
.jixu:hover,.sc:hover,.yc:hover{
	color:#999;
	text-decoration:underline;
	}
	
.fd {
	float:left;
	margin-right:20px;
}
.js{
	line-height:20px;
	float:left;
	left:50%;
	margin-top:-10px;
	}
.qian{
	float:left;
	margin-top:-80px;
	font-family:"方正兰亭超细黑简体";
	font-size:16px;
	}
.sl{
	float:left;
	margin-top:-80px;
	font-size:16px;}
#select{
	width:60px;
	border:1px solid #999;
	}
.xj1{
	font-family:"新宋体";
	padding-left:130px;
	font-weight:bold;
	font-size:24px;
	}
.xj2{
	padding-left:300px;
	margin-top:10px;
	font-family:"新宋体";
	font-weight:bold;
	font-size:18px;
	}
.kg{
	float:right;
	margin-right:350px;
	}

.btn input{         
	width:200px; 
	height:50px;
	background:#000;
	color:#FFF;
	font-size:18px;
	margin-top:40px;
	float:right;
	margin-right:500px;
}
.btn1 input{         
	width:130px; 
	height:40px;
	background:#000;
	color:#FFF;
	font-size:14px;
}
.tyz{
	width:30px;;
	height:40px;
	background:#CCC;
	padding-left:600px;}

#Div1 {
	position: absolute;
	width: 200px;
	height: 57px;
	background: #E0E0E0;
	top: 310px;
	right:130px;
	}
#select1{
	background:#E0E0E0;
	margin:10px 10px;
	font-family:"微软雅黑";
	font-size:24px;
		}
#Div2 {
	position: absolute;
	margin-top: 10px;
	width: 200px;
	height: 57px;
	background: #E0E0E0;
	top: 380px;
	right:130px;
}
#select2{
	background:#E0E0E0;
	margin:10px 10px;
	font-family:"微软雅黑";
	font-size:24px;
		}
#Div3 {
	position: absolute;
	margin-top: 20px;
	width: 200px;
	height: 57px;
	background: #E0E0E0;
	top: 460px;
	right:130px;
}
#select3{
	background:#E0E0E0;
	margin:10px 10px;
	font-family:"微软雅黑";
	font-size:24px;
		}
#Div4 {
	position: absolute;
	margin-top: 20px;
	width: 200px;
	height: 238px;
	background: #E0E0E0;
	top: 560px;
	right:130px;
}
#yhdmk{
	background:#E0E0E0;
	width:80%;
	height:"30px";
	margin-left:25px;
	font-family:"微软雅黑";
	font-size:14px;
	}
#yhdm{
	margin:10px 10px;
	font-family:"微软雅黑";
	font-size:24px;
	}
.btn3 input{         
	width:100px; 
	height:40px;
	background:#000;
	color:#FFF;
	font-size:14px;
	margin:20px 0px 10px 40px;
}
#Div5 {
	position: absolute;
	margin-top: 40px;
	padding: 10px 0px 0px 10px;
	width: 190px;
	height: 243px;
	background: #000;
	line-height: 20px;
	top: 810px;
	right: 130px;

}
