@charset "utf-8";

*{	margin:0 auto; 
	padding:0; 
	border:0; 
	list-style:none;
}

.h2{
	font-family: "新宋体";
	font-size:36px;
	}
.h4{
	font-family:"新宋体";
	font-size:24px;
	}
.h5{
	font-family:"新宋体";
	font-size:18px;
	}
.h6{
	font-family:"新宋体";
	font-size:12px;
	}
.p{
	font-family:"新宋体";
	font-size:12px;
	line-height:23px;}
	

#dkj{
	width:1000px;
	height:1800px;
	margin: 0 auto;
}	

#rxd{
	width:1000px;
	height:500px;
	margin:0 auto;
	float:left;
	}
#rxx{
	width:500px;
	height:500px;
	float:left;
		}
.jiaru {
	font-family: "宋体";
	color: #FFF;
	background-color: #000;
	text-align: center;
	position:relative;
	float:left;
	width:100px;
	height:25px;
	padding-top:8px;
	margin: 20px 0px 0px 40px;
}

.jiage{
	position:relative;
	float:left;
	width:50px;
	left:10px;
	margin-top:30px;
}
	
	
	
#ljgm{font-family:"宋体";
}

#ligm:link{
	color:#333;
	text-decoration:none;
	}
	
#ligm:hover,#ligm:visited{
	color:#000;
	text-decoration:underline;
	}
	
	
	
#jrgwc{font-family:"宋体";
}

#jrgwc:link{
	color:#000;
	text-decoration:none;
	}
	
#jrgwc:hover,#jrgwc:visited{
	color:#000;
	text-decoration:underline;
	}

.jiaru #jrgwc {
	color: #FFF;
}

#rqd{
	width:1000px;
	height:550px;
	margin:0 auto;
	float:left;
	}
#rqbb{
	width:225px;
	height:500px;
	float:left;
	margin-left:25px;
	}
#rqmx{
	width:225px;
	height:225px;
	float:left;
	margin:0px 0px 25px 25px;
}

