@charset "utf-8";
/* CSS Document */

#dkj{
	width:1000px;
	height:900px;
	margin: 0 auto;
}	
form{
	position: absolute;
	width: 875px;
	height: 600px;
	margin: 0 auto;
	padding-left: 10px;
	left: 79px;
	top: 242px;
	background-color: #FFFFFF;
}
h1{
	font-size:52px;
	font-family:"宋体";
	margin:40px 0px;
	margin-bottom:0px;
	padding-left:40px;
}     
p{
	font-size:12px;
	margin:3px 0;
	padding-left:40px;
}
#ljdl{
	font-family:"宋体";
	}
#ljdl:link{
	color:#000;
	text-decoration:none;
}
#ljdl:hover,ljdl:visited {
	color:#999;

	text-decoration:underline;
}

.btn input{         
	width:300px; 
	height:50px;
	background:#000;
	color:#FFF;
	font-size:18px;
	margin-top:20px;
	margin-left:5px;
}
