@charset "utf-8";
/* CSS Document */
.h2{
	font-family: "方正兰亭超细黑简体";
	font-size:36px;
	}
.h4{
	font-family:"方正兰亭超细黑简体";
	font-size:24px;
	}
.h5{
	font-family:"方正兰亭超细黑简体";
	font-size:18px;
	}
.p{
	font-family:"新宋体";
	font-size:12px;}


#dkj{
	margin: 0 auto;
	width:1000px;

}
#zdd{
	margin:0 auto;
	width:1000px;
	height:1400px;
	}	
#zdx{	
	width:225px;
	height:400px;
	float:left;
	margin:0px 0px 70px 20px;
	}
#yqd{
	width:1000px;
	margin:0 auto;
	height:1000px;

	}	
	

.jiaru {
	font-family: "宋体";
	color: #FFF;
	background-color: #000;
	text-align: center;
	position:relative;
	float:left;
	margin-left:50px;
	width:100px;
	height:25px;
	padding-top:8px;
	margin-top:20px;
}
.jiage{
	position:relative;
	float:left;
	width:50px;
	left:10px;
	margin-top:30px;}
	
	
	

	
#jrgwc{font-family:"宋体";
}

#jrgwc:link{
	color:#000;
	text-decoration:none;
	}
	
#jrgwc:hover,#jrgwc:visited{
	color:#000;
	text-decoration:underline;
	}

.jiaru #jrgwc {
	color: #FFF;
}


.zdt:link, .yq:link{
	color:#000;
	text-decoration:none;
	}
	
.zdt:hover,.zdt:visited,.yq:hover,.yq:visited{
	color:#000;
	text-decoration:underline;
	}
