/*css document*/


@media only screen and (max-width:420px ) {
	.content{height: 153px;}
	.content-abtn li{height:1px;width: 15px;}
	.abtn-prve ,.abtn-next {width:14px;height:28px;border-radius:10px;font-size: 12px;line-height: 28px;}
	 .feadured{height: 100px}
	 .feadured-head{padding: 40px 30px 0 30px;}
	 .feadured-head h3{font-size:9px}

	  
}
@media only screen and (min-width: 421px) and (max-width: 800px) {
	.content {height: 260px;}
	.content-abtn li{height:1px;width: 25px;}
	.abtn-prve ,.abtn-next {width:16px;height:32px;border-radius: 12px;font-size: 14px;line-height: 32px;}
	 .feadured{height: 150px}
	 .feadured-head{padding: 60px 30px 0 30px;}
	 .feadured-head h3{font-size:15px}

}
@media only screen and (min-width: 801px) and (max-width: 1025px) {
	.content {height: 360px;}
	.content-abtn li{height:2px;width: 38px;}
	.abtn-prve ,.abtn-next {width:28px;height:48px;border-radius: 15px;font-size: 16px;line-height: 50px;}
	 .feadured{height: 200px}
	 .feadured-head{padding: 90px 30px 0 30px;}
	 .feadured-head h3{font-size:18px}

}
@media only screen and (min-width:1026px ) {
	.content{height: 560px;}
	.content-abtn li{height:2px;width: 38px;}
	.abtn-prve ,.abtn-next {width:48px;height:88px;border-radius: 25px;font-size: 30px;line-height: 90px;}
	 .feadured{height: 300px}
	 .feadured-head{padding: 120px 30px 0 30px;}
	 .feadured-head h3{font-size:23px}
	
}
 /*        主体部分-主推广告          */
 
 .content {
 	width: 100%;
 	background-color: skyblue;
 	position: relative;
 	text-align: center;
 	cursor: pointer;
 	z-index: 110;
	 overflow: hidden;
 }
/*.content-wrap{*/
	/*width: 5464px;*/
	/*height:100%;*/
/*}*/
 /*      btn样式          */
 
 .content-abtn {
 	display: inline-block;
 	position: absolute;
 	left: 30%;
 	bottom: 4.5%;
 	width: 40%;
 	padding: 0;
 	text-align: center;
 	height: 2px;
 	z-index: 1000;
 }
.content-abtn li+li{
	margin-left: 7px;
}
 .content-abtn li {
 	display: inline-block;
 	background-color: #555;		
 }
 .content-abtn li.active{
 	background-color: #E95F46;
 }
 

 
 /*      banner样式           */
.hyperlink{
	width: 100%;
	height: 100%;
	display: inline-block;
	/*pointer-events: auto;*/
	z-index: 300;
}

 .content-banner {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	background-size: cover;
 	background-repeat: no-repeat;
 	/*pointer-events: none;*/
 	opacity: 0;
 	transition: opacity 0.5s;
 	-moz-transition: opacity 0.5s;
 	/* Firefox 4 */
 	-webkit-transition: opacity 0.5s;
 	/* Safari and Chrome */
 	-o-transition: opacity 0.5s;
 	/* Opera */
 	/*z-index: 100;*/
 	z-index: 10;
 }



.abtn-prve,.abtn-next{	opacity: 0;z-index: 100;transition: opacity 0.5s;}
.content .abtn-prve{position: absolute;top:45%;left:4%;background:rgba(218,227,231,.3);}
.content .abtn-next{position: absolute;top:45%;right:4%;background:rgba(218,227,231,.3);} 

.abtn-prve:after{
	content: "\e902";
	font-family: "icomoon";
	/*display: inline-block;*/
	color:#333;
}
.abtn-next:after{
	content: "\e904";
	font-family: "icomoon";
	/*display: inline-block;*/
	color:#333;
}
.abtn-prve.active{opacity:1;}
.abtn-next.active{opacity:1;}
 
 
 
 
 /*特色*/
 
 .feadured {
 	width: 100%;
 	/*height: 300px;*/
 	text-align: center;
 	margin-top: 3px;
 }
 
 .feadured-items {
 	width: 100%;
 	/*height: 300px;*/
 	height: 100%;
 	display: inline-block;
 	overflow: hidden;
 }
 
 .feadured-item {
 	position: relative;
 	width: 33.33%;
 	height: 100%;
 	float: left;
 	border: 3px solid #efeeeb;
 	overflow: hidden;
 	cursor: pointer;
 	background-color: black;
 }
 
 .feadured-item .feadured-img{
 	z-index: 1000;
 	width: 100%;
 	height: 100%;
 	opacity: 1;
 	background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
 	transform: scale(1.025);
 	transform-origin: left;
 	transition: transform 1.6s, opacity 1.1s;
 	-moz-transition: transform 1.6s, opacity 1.1s;
 	/*Firefox 4 */
 	-webkit-transition: transform 1.6s, opacity 1.1s;
 	/* Safari and Chrome */
 	-o-transition: transform 1.6s, opacity 1.1s;
 	/*Opera */ 
 	transition-timing-function: cubic-bezier(0, 0.3, 0.8, 1);
 }
 
 .feadured-item:hover .feadured-img {
 	transform: scale(1);
 	opacity: 0.8;
 }

 .feadured-head{
 	position: absolute;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	/*padding: 120px 30px 0 30px;*/
 	box-sizing: border-box;
 	z-index: 1000;
 }
 .feadured-head h3{
 	color: white;
 	margin: 0;
 	font-weight: normal;
 	/*font-size: 23px;*/
 	text-align: center;
 }
 /*.feadured-item h3{
 	opacity: 1.2;
 	font-size: 22px;
 	z-index: 1;
 	color: white;
 }
 */
 /**/
