@charset "gb2312";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

body {
	margin: 0 auto;
	width: 1100px;
}

#toudiv {
	width: 1100px;
	height: 350px;
	background:url(http://localhost/tea/templets/default/images/about_01.JPG);
}

.toudiv {
	width: 130px;
	height: 90px;
	float: left;
	margin-top: 40px;
	margin-left: 120px;

}

.p2 {
	text-align: center;
	font: "华文细黑";
	font-size: 1.5em;
	color: #0b4219;
	text-align:center;
}



.p1 {
	font: "华文细黑";
	font-size: 1em;
	color: #155c28;
	line-height: 30px;
}

#tpdiv {
	width: 1100px;
	height: 300px;
	font-size: 1em;
}

#tpdiv1 {
	width: 1100px;
	height: 145px;
}

.tpdiv1 {
	width: 150px;
	margin-left: 25px;
	height: 143px;
	float: left;
}

#tpdiv2 {
	width: 1100px;
	height: 145px;
}

.tpdiv2 {
	width: 150px;
	margin-left: 55px;
	height: 143px;
	float: left;
}

#lydiv {
	padding: 25px;
	width: 1100px;
	height: 450px;
}


#tj {
	width: 100px;
	height: 35px;
	background: #0B4219;
	color: #FFF;
	border: none;
}

#lydiv>*:not([name='cs']):not([type='submit']) {
	box-sizing: border-box;
	outline: none;
	display: block;
	margin:13px 0;
	width: 404px;
	text-align:center;
}

#lydiv>:not(textarea) {
		font-size: 1em;
		height: 35px;
}

#lydiv *:focus {
	border: 0px solid #b8d09d;
}





.select-box {
	position: relative;
}

.select-box-focus {
	border: 0px solid brown;
}

.select-box-focus ul {
	display: block !important;
}

.select-box p {
	width: 100%;
	height: 100%;
	text-align: left;
	line-height: 30px;
}

.select-box ul {
	position: absolute;
	top: 100%;
	left: -1px;
	background: #fff;
	width: 100%;
	text-align: center;
	border: 0px solid #b8d09d;
	display: none;
	}

.select-box ul li {
	list-style: none;
	cursor: pointer;
	padding: 5px 0;
	}

li:hover {
	background: cadetblue;
}











.select-box {
	position: relative;
	text-align:center;
}

.select-box-focus {
	border: 0px solid #b8d09d;
	text-align:center;
}

.select-box-focus ul {
	display: block !important;
	text-align:center;
}

.select-box p {
	width: 100%;
	height: 100%;
	text-align: left;
	line-height: 30px;
	text-align:center;
}

.select-box ul {
	position: absolute;
	top: 100%;
	left: -1px;
	background: #fff;
	width: 100%;
	text-align: center;
	border: 0px solid #b8d09d;
	display: none;
	text-align:center;
}

.select-box ul li {
	list-style: none;
	cursor: pointer;
	padding: 5px 0;
	text-align:center;
}

li:hover {
	background: #b8d09d;
}
