@charset "gb2312";
/* CSS Document */

*{
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-family:"华文细黑";
}

#img{
	width: 1100px;
	height: 300;
	margin: 0 auto;
}
#mao{

	width:1100px;
	margin: 0 auto;
	height:150px;}
	.img1{
		width:200px;
		height:100px;
		float:left;}
	.img2345{
		width:200px;
		height:100px;
		margin-left:25px;
		float:left;}
		


/*专区1*/
#zone1{
	width:1100px;
	height:700px;
	margin: 0 auto;
	}
	.index_banner{
		width:1100px;
		height:300px;
	}
	.buttom{
		width:1100px;
		height:400px;}
		.piece1{
			width:263px;
			height:350px;
			float:left;}
		.piece234{
			width:263px;
			height:350px;
			float:left;
			margin-left:16px;}
			.shopimg{
				width:263px;
				height:230px;}

#zone1 a:link {
	    font-weight:700;
		color:#0B4219;
		text-decoration:none;
		}    
		
#zone1 a:visited {
		color:#0B4219;
		text-decoration:none;
		 } 
		 
#zone1 a:hover {
		color:#b8d09d;
		text-decoration:none;
		}



/*专区4*/
#zone4{
	height:580px;
	width:1100px;
	margin: 0 auto;}
	.buttom{
		width:1100px;
		height:320px;}
		.piece1{
			width:263px;
			height:300px;
			float:left;}
		.piece234{
			width:263px;
			height:300px;
			float:left;
			margin-left:16px;}
			.shopimg{
				width:263px;
				height:230px;}
				
#zone4 a:link {
	    font-weight:700;
		color:#0B4219;
		text-decoration:none;
		}    
		
#zone4 a:visited {
		color:#0B4219;
		text-decoration:none;
		 } 
		 
#zone4 a:hover {
		color:#b8d09d;
		text-decoration:none;
		}
		
		

.content{
		width:1100px;
		height:250px;
		margin:0 auto;}
#article{
	width:1100px;
	margin: 0 auto;}
	.text{
		color:#0B4219;
	}
   .span{
	float:right;
}

		.article1{
			width:542px;
			height:300px;
			float:left;}
		.article2{
			margin-left:15px;
			width:542px;
			height:300px;
			float:left;}
			.article_img{
				width:542px;
				height:252px;}
			.article_title{
				font-size:24px;
				}
				
#article a:link {
	    font-weight:700;
		color:#0B4219;
		text-decoration:none;
		}    
		
#article a:visited {
		color:#0B4219;
		text-decoration:none;
		 } 
		 
#article a:hover {
		color:#b8d09d;
		text-decoration:none;
		}